In [2]:
print('hello')

hello

In [4]:
#variables
y = 14
z = "Arman"
print(y)
print(z)

14
Arman

In [5]:
#string formatting
print(f"{z} is {y} years old.")

Arman is 14 years old.

In [6]:
#string format method
print("{} is {} years old.". format(z,y))

Arman is 14 years old.

In [10]:
#using older string % formatting method
print ("%s is %d years old." %(z,y))

Arman is 14 years old.

In [15]:
#using  concatination method
print(z +"is" + str(y) + "years old")

Armanis14years old

In [18]:
#data types
#working with numbers
x = 10
y = 15
print(f"the addition of x and y is {x+y}.")
print(f"the substraction of x and y is {x-y}.")
print(f"the division of x and y is {x/y}.")
print(f"the multiplication of x and y is {x*y}.")
print(f"the remainder of x and y is {x%y}.")

the addition of x and y is 25.
the substraction of x and y is -5.
the division of x and y is 0.6666666666666666.
the multiplication of x and y is 150.
the remainder of x and y is 10.

In [21]:
#working with single quoted string
single_quoted_string = 'python is Awesome.'
print("single quoted string:", single_quoted_string)

single quoted string: python is Awesome.

In [24]:
#string concatination
concatenated_string = single_quoted_string +''
print("Concatenated String:", concatenated_string)

Concatenated String: python is Awesome.

In [25]:
#string Methods 
uppercase_string = concatenated_string.upper()
print(uppercase_string)
lowercase_string = concatenated_string.lower()
print(lowercase_string)

PYTHON IS AWESOME.
python is awesome.

In [1]:
#string slicing

word = "university of sunderland"
slice_word =word[4:10]
print("slice word is ", slice_word)

slice word is  ersity

In [4]:
word_space = "     Pokhara University"
print(word_space)
remove_space = word_space.strip() #remove_space
print(remove_space)

     Pokhara University
Pokhara University

In [6]:
word_list = ["kali","Linux","is","used","for","Hacking"]
print(word_list)
sentence = " ".join(word_list)
print("Complete sentence is :",sentence)

['kali', 'Linux', 'is', 'used', 'for', 'Hacking']
Complete sentence is : kali Linux is used for Hacking

In [9]:
world_list = "Hello,World"
replaced_string = world_list.replace("Hello", "Cybersecurity")
print("Replaced String:",replaced_string)

Replaced String: Cybersecurity,World

In [10]:
#find a word in a sentence 
word = "Python ios Awesonme!! I am Learning python course."
index = word.find("course")
print("Index of Course:", index)

Index of Course: 43

#List

In [11]:
#creating a List
fav_movie = ["herapheri","Ra-one","scary"]
print(fav_movie)

['herapheri', 'Ra-one', 'scary']

In [15]:
#Accesing the element of list
print("Udip fav movie is:", fav_movie[1])
print("Nitin fav movie is:", fav_movie[2])

Udip fav movie is: Ra-one
Nitin fav movie is: scary

In [16]:
#find the length of list
print("the length of string is:",len(fav_movie))

the length of string is: 3

In [17]:
#list can contain heterogenous data types
list1 = ["apple", "banana","cherry", "dondo"]
list2 = [5,10,20,25]
list3 = [True,False,True,False]
list4= ["apple",5,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry', 'dondo']
[5, 10, 20, 25]
[True, False, True, False]
['apple', 5, True]

In [18]:
#lets find the data types
print(type(list4))

<class 'list'>

In [19]:
#Nested list
nested_list = ["One Piece", "Lord of the rings", [9,10]]
print(nested_list)
print("IMDB rating LGR:",nested_list[2][1])

['One Piece', 'Lord of the rings', [9, 10]]
IMDB rating LGR: 10

2.4 Dsctionary

In [21]:
#creating a disctionary 
student = {"name": "Avaya",
          "Department": "Computer Network",
          "CGPA": 3.8
          }
print(student)

{'name': 'Avaya', 'Department': 'Computer Network', 'CGPA': 3.8}

In [23]:
#accessing the disctionary items
print("Student name:",student["name"])

Student name: Avaya

In [26]:
#adding a new element
student["year"] = 2019
#print the discionary as a string
print(repr(student))

{'name': 'Avaya', 'Department': 'Computer Network', 'CGPA': 3.8, 'year': 2019}

In [27]:
#modifying an  Exisitng item
student["CGPA"] = 3.9
print(repr(student))

{'name': 'Avaya', 'Department': 'Computer Network', 'CGPA': 3.9, 'year': 2019}

In [32]:
#delteing an items if it exists
if "Year" in student:
    del student["Year"]
    
print(student)

{'name': 'Avaya', 'Department': 'Computer Network', 'CGPA': 3.9, 'year': 2019}

In [31]:
car_dict = dict(name="Tesla", company="Tesla", price=100)
print(car_dict)

{'name': 'Tesla', 'company': 'Tesla', 'price': 100}